{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js ">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <script src="{% static 'js/dashboard.js' %}"></script>
    <title>Document</title>
</head>

<body>

<div  class="bookingHeading">
    <h2 class="heading">Total Order</h2>
    </div>

    <br><br><br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Name</th>
                <th scope="col">Phone No</th>
                <th scope="col">Date&Time</th>
                <th scope="col">Address</th>
                <th scope="col">Food Details</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button type="button" class="btn btn-secondary btnsz">Update</button></td>
            </tr>
        </tbody>
    </table>

    <div class="logoutBtn"><a href="admin_login">
        <button type="button" class="btn btn-primary">Log Out</button>
    </div>
    </div>


</body>

</html>